$blue-100: #E9F0F8;
$blue-200: #0273b1;
$blue-300: #0074b3;
$blue-400: #0275B1;
$blue-500: #48a0cf;
$dark-100: #181818;
$white: white;
$white-100: #F4f4f4;
$white-200: #f5f8fa;
$white-300: #F7F9FB;
$white-400: #e2e2e2;
$gray-100: #747474;
$gray-200: #f1f4f880;
$gray-300: #E7E7E7;
$red-100: #dd0000;

$fs-1: 52px;
$fs-2: 30px;
$fs-3: 24px;
$fs-4: 20px;
$fs-5: 16px;
$fs-6: 14px;
$fs-7: 12px;