@import './reset';
@import './variables';
@import './grid';
@import './mixins';

body {
  background: $white-200;
  color: $dark-100;
  font-family: 'Montserrat', sans-serif;
}

@include ipad {
  html {
    overflow-y: scroll;
  }
  
  :root {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  :root body {
    position: absolute;
  }
  body {
    width: 100vw;
    overflow: hidden;
  }
}
